= link_to 'Home', root_path
= link_to 'Glossary', '#'
= link_to 'Registration', signup_path
-if sign_in?
  = link_to 'All users', users_path
  = link_to 'Sign out', signout_path, method: :delete
-else  
  = link_to 'Profile', signin_path

%p
  = form_tag("/search/find", method: "get") do
    = label_tag :q, "Поиск по статьям:"
    = text_field_tag :q
    = submit_tag "Search"

%h2
  Categories
%table
  - all_categories.each do |c|
    %tr
      %td 
        =c.name
      %td 
        =link_to 'Show', category_path(c.id)
