<!DOCTYPE html>
%html
  %head
    %title Compsec
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = link_to 'Glossary', '#'
    = link_to 'Searh', '#'
    = link_to 'Random article', '#'
    = link_to 'Profile', '#'
    = link_to 'Registration', '#'
  
    = yield
